<% if current_user %>
  <div>
  <br><br>
    <div class="ui center aligned borderless grid">
     <div class="ui feed">
        <% tweets.each do |tweet| %>
          <div class="event">
            <div class="label">
              <img src= <%= tweet.author_image_url %>>
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  <%= tweet.author %>
                </a> 
                <div class="date">
                  <span class="date-container" data-date="<%= tweet.published_at %>"></span>
                </div>
                <div class="extra text">
                <%= tweet.text %>
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon "></i> <%= tweet.favorite_count %>
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui center aligned container">
      <div class="ui buttons">
        <% all_pages.each do |page_num| %>
          <div class="page">
            <%= link_to page_num, "/?page=#{page_num}", class: "ui #{class_for(current_page, page_num)}basic button" %>
          </div>
        <% end %>
      </div>
    </div>
    <br>   
  </div>
<% else %>
  <div>

    <p>
      <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    </p>
  </div>
<% end %>